.social-links {
    a:nth-child(2) {
        svg path {
            fill: #BCC5D6;
        }
    }


    a:hover {
        svg path {
            fill: #0065DD;
        }

        svg rect {
            stroke: #0065DD;
        }
    }
}