.footer {
    width: 100%;
    margin-right: 5px;
    border-radius: 30px;
    text-align: center;
    background-color: #110C59;
    // background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#110C59 0.5px, transparent 0.5px), radial-gradient(#5d5ddd 0.5px, #110C59 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    padding-bottom: 5px;

    &__div1 {
        display: flex;

        &__ul1 {
            height: 100%;
            // display: flex;
            color: white;
            font-size: 17px;

            &__li1 {
                background-image: url(../image/akbarlogo.jpg);
                background-repeat: no-repeat;
                background-size: 220px 80px;
                height: 60px;
                width: 200px;
                margin-left: 20px;
                border-radius: 485px;
            }

            &__li2 {
                margin-top: 13px;
            }

        }

        &__ul2 {
            margin-right: 30px;
            position: relative;
            top: 15px;

            &__li1 {
                display: flex;
                color: white;
                margin-top: 20px;
                margin-left: 15px;

                &__a {
                    position: relative;
                    top: 30px;
                    margin-left: 60px;
                    font-size: 20px;
                }

                &__p {
                    position: relative;
                    right: -15px;
                    top: 15px;
                }
            }

            &__li2 {
                margin-top: 30px;

                &__div1 {
                    display: flex;
                    color: white;
                    // font-size: 17px;

                    &__a {
                        font-size: 20px;
                        position: relative;
                        right: -75px;

                    }

                    &__p {
                        top: -14px;
                        font-size: 15px;
                        position: relative;
                        right: -90px;
                    }
                }

                &__div2 {
                    &__a1 {
                        position: relative;
                        left: -41px;
                    }

                    &__a2 {
                        position: relative;
                        right: 22px;
                        top: -10px;
                        font-size: 15px;
                    }

                    &__a3 {
                        position: relative;
                        font-size: 15px;
                        right: 15px;
                        top: -8px;
                    }
                }
            }
        }

        &__ul3 {
            margin-left: 80px;
            position: relative;
            right: 20px;

            &__h3 {
                color: white;
            }

            &__li {
                display: flex;
                gap: 10px;
                margin-right: 15px;

                &__input {
                    width: 200px;
                    height: 150px;
                    border-radius: 15px;
                    flex-wrap: wrap;
                    text-indent: 1px;
                    background-color: #333578;
                    text-align: justify;

                }

                &__div {

                    // display: flexbox;
                    // position: relative;
                    &__input1 {
                        height: 70px;
                        background-color: #333578;
                        border-radius: 15px;
                    }

                    &__input2 {
                        background-color: #333578;
                        margin-top: 10px;
                        height: 70px;
                        border-radius: 15px;
                    }
                }
            }

            &__btn {
                position: relative;
                right: 140px;
                height: 32px;
                width: 120px;
                top: 10px;
                border-radius: 5px;
                background-color: #333578;
                color: white;
                opacity: 0.7;
            }
        }
    }

    &__url {
        gap: 220px;
        font-size: 22px;
    }

    &__small {
        margin-right: 30px;
        font-size: 12px;
        // padding-bottom: 20px;
    }
}

.footer__url>a {
    margin-right: 30px;
    align-items: center;
    justify-content: center;
}

// .footer__url>a:nth-of-type(5) {
//     font-size: 25px;
// }

::placeholder {
    color: white;
    opacity: 0.5;
}